<section class="how-section">
	<h3 class="title">
		{{site.hp_how_title}}
	</h3>
	<div class="steps-container">
		<div class="step" style="background-image: url('{{site.base_url}}assets/img/step1bgc.png')">
			<div class="blur"></div>
			<div class="number">
				1
			</div>
			<p>
				{{site.hp_how_step_01}}
			</p>
		</div>
		<div class="step" style="background-image: url('{{site.base_url}}assets/img/step2bgc.png')">
			<div class="blur"></div>
			<div class="number">
				2
			</div>
			<p>
				{{site.hp_how_step_02}}
			</p>
		</div>
		<div class="step" style="background-image: url('{{site.base_url}}assets/img/step3bgc.png')">
			<div class="blur"></div>
			<div class="number">
				3
			</div>
			<p>
				{{site.hp_how_step_03}}
			</p>
		</div>
	</div>
</section>