<section class="what pad">
	<h3 class="title">
		{{site.hp_what_title}}
	</h3>
	<div class="features-container">
		<div class="features-wrap">
			<div class="feature">
				<div class="bgc" style="background-image: url('{{site.hp_what_feature_01_bgc}}')">
					<div class="title">
						{{site.hp_what_feature_01_title}}
					</div>
				</div>
				<div class="content">
					{{site.hp_what_feature_01_content}}
				</div>
			</div>
			<div class="feature">
				<div class="bgc" style="background-image: url('{{site.hp_what_feature_02_bgc}}')">
					<div class="title">
						{{site.hp_what_feature_02_title}}
					</div>
				</div>
				<div class="content">
					{{site.hp_what_feature_02_content}}
				</div>
			</div>
			<div class="feature">
			<div class="bgc" style="background-image: url('{{site.hp_what_feature_03_bgc}}')">
				<div class="title">
					{{site.hp_what_feature_03_title}}
				</div>
			</div>
			<div class="content">
				{{site.hp_what_feature_03_content}}
			</div>
		</div>
		</div>
	</div>
</section>