<section class="gallery-section">
	<h3>
		{{site.ap_gallery_title}}
	</h3>

	<div class="gallery-container" data-galery>
		<img src="{{site.base_url}}assets/img/gallery/1.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/2.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/1.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/2.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/1.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/2.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/1.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/2.png" alt="{{site.title}}">
		<img src="{{site.base_url}}assets/img/gallery/1.png" alt="{{site.title}}">
	</div>
</section>

